.about-as{
  clear: both;
  font-size: $fs18;
  background:transparent url('../images/Layer-15.jpg') left top no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 115px 0;
  h1{
    color: white;
    margin-bottom: 35px;
  }
  p{
    line-height: 1.6;
  }
  .text-descriotion{
    color: $couleur-gris;
    padding: 0 460px 70px 460px;
  }
  .container-cadre{
    //padding-bottom: 30px;
  }
  .col-1 .cadre .nom-avatar{
    margin: 20px 0;
    color: white;
  }
  .col-1 .cadre .description{
    color: $couleur-gris;
    padding: 0 10px;
    line-height: 1.2;
  }
  .watch-more{
    clear: both;
    padding-top: 105px;
  }
}