.what-we-do{
  clear: both;
}
.what-we-do .contenaire h1{
  text-align: center;
  margin: 90px 0 100px 0;
}
.icon-content, .text{
  float: left;
  .icon{
    float: right;
  }
}
.btn-whatWeDo{
  text-align: center;
  margin-top: 105px;
}
.first-line{
  margin-bottom: 85px;
}
.text{
  padding: 0 50px;
  h2{
      margin-top: 0;
  }
  .text-content{
     color: $couleur-gris;
     font-size: $fs18;
   }
}
