//variable de texte
$fs18: 18px;
$couleur-gris:#969591;
//variable des boutons degragé
$btn-violet-deg:#49007c;
$btn-blue-deg:#c00085;
$btn-padding:8px;

//varriable pour la mise en place d'une grille
$nbColonne: 4;
$colWide:100%;
$contenaire:85%;
